{% extends "base.html" %}
{% block content %} 
    <form method="POST" >   
        <div class="relative flex items-center justify-center flex-row">
            <label for="tweet_value"></label>
            <input id="tweet_value" name="tweet_value" class="w-3/6 p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter a tweet..."/>
            <button type="submit" class="text-white p-4 mx-2 end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Analyze</button>
        </div>
    </form> 

    <div class="relative flex items-center justify-center flex-row space-x-2 mt-2">
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Most Likely Location</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">{{location}}</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Chances of Virality</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">{{virality}}</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Overall Sentiment</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">{{sentiment}}</p>
        </a>
    </div>
 
    <div class="relative flex items-center justify-center flex-col mt-2">
        {% if current_user.is_authenticated %}
            <div class="relative flex items-center justify-center flex-col mt-2">
                <!-- <form method="POST"> -->
                    <p>Entered Tweet: {{tweet}}</p>
                    <!-- {% if tweet != None %}
                        <button type="button" class="m-2 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"> {{ form.submit() }}</button>
                    {% endif %} -->
                <!-- </form> -->
            </div>
        {% else %}
            <p><a class="underline" href="\login">Login</a> or <a class="underline" href="\register">Create</a> An Account to Save Tweets and View Virality</p>
        {% endif %}
    </div>
{% endblock %}

