{% extends "base.html" %}
{% block content %}     
    {% if current_user.is_authenticated %}    
    <div class="relative flex items-center justify-center flex-col m-10 w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex flex-col items-center p-10">
          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ current_user.username }}</h5>
          <span class="text-sm text-gray-500 dark:text-gray-400">{{ current_user.email }}</span>
          <span class="text-sm text-gray-500 dark:text-gray-400">Followers Count: {{ current_user.followersCount }}</span>
          <span class="text-sm text-gray-500 dark:text-gray-400">Friends Count: {{ current_user.friendsCount }}</span>
      </div>
    </div>

    {% else %}
    <p><a class="underline" href="\login">Login</a> or <a class="underline" href="\register">Create</a> An Account to View Profile</p>
    {% endif %}
{% endblock %}